* {
  margin: 0;
  padding: 0;
}



body {
  background-color: gray;
  font-family: Arial;
  height: 100vh;    
  
}
h2 {
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 28px 0;
}
  body > div {
    margin-left: 20%;
    margin-right: 20%;
  }

img {
  display: block;
}

/*----------------------------------------------------------Inicio------------------------------------------------------------------*/
  .inicio {
    height: 500px;
  }

    .inicio > figure {
      position: relative;
      height: 100%;
    }

      .inicio > figure > img {
        height: 100%;
        width: 100%;
      }

    .inicio > div {
      color: white;
      position: absolute;
      padding: 10px;
      font-size: 25px;
      top: 350px;
      z-index: 1;
      background-color: rgba(70, 250, 250, 0.473);
      border-radius: 0 10px 10px 0;
    }

    .inicio > h1 {
      font-size: 64px;
      font-weight: bold;
      color: white;

      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -160.08px;
      z-index: 1;
    }

      .inicio > div > h2 {
        padding: 0;
      }

    

  /*-------------------------------About--------------------------------*/
  .about {
    position: relative;
    height: 450px;
    background-color: #7299FE;
  }

    .about > p {
      padding: 0 40px;
      text-align: justify;
      color: white;
      font-size: 14px;
      line-height: 24px;
    }

    .about > button {
      margin: 20px 0 0 41px;
      color: white;
      border-radius: 20px;
      padding: 18px 59px;
      border: none;
      background-color: #D16FFF;
      cursor: pointer;
    }

    .about > button:hover {
      background: #ca032f;
      transition: .5s;
      font-size: 18px;
    }
    
  /*---------------------------------Skills----------------------------*/
  .skills {
    background-color: #9122FF;
    height: 420px;
  }

    .skills > .skills_c {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0 0 64px;
    }

      .skills > .skills_c > .skill {
        margin: 0 65px 30px 0;
      }

      .skills > .skills_c > .skill > h3 {
          font-size: 18px;
          color: white;
        }

      .skills > .skills_c > .skill > div {
          background-color: white;
          border-radius: 20px;
          width: 350px;
          margin: 14px 0;
        }

       .skills > .skills_c > .skill > div > .progress-bar {
            background-color: #57EFF9;
            border-radius: 20px;
            padding: 10px;
            width: 185px;
          }

  /*-----------------------------------Portafolio-----------------------------*/
  .portafolio {
    background-color: #FFD233;
    height: 400px;
  }

    .portafolio_c {
      width: 600px;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

      .portafolio_c > figure {
        margin-bottom: 10px;
      }
      
     
  /*------------------------------Clients-----------------------------*/
  .clientes {
    background-color: #3F4E62;
    height: 230px;
  }

    .clientes > .clientes_c {
      width: 800px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    
  /*----------------------------Contact------------------------------------*/
  .contactos {
    background-color: #1687A0;
    height: 510px;
  }

    .contactos > form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 700px;
      margin: 0 auto;
    }

      .contactos > form > textarea {
        border: 1px solid #BFBFBF;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 10px;
        color: #8B758B;
        border-radius: 10px;
      }

      .contactos > form > input {
        border: 1px solid #BFBFBF;
        margin-bottom: 25px;
        padding: 20px 150px 20px 10px;
        border-radius: 10px;
      }

      .contactos > form > button {
        margin: 35px auto 0px;
        padding: 15px 45px;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        background-color: #233451;
        border: none;
        cursor: pointer;
        border-radius: 18px;
      }

      .contactos > form > button:hover {
        background: rgb(7, 250, 169);
        color: black;
        transition: .9s;
        border: solid 2px #233451;
      }
